header {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(192, 192, 192, 0.8);
	align-items: center;
	justify-content: center;
}

header nav ul {
	text-color: white;
	text-align: center;
}

header .logo:hover {
	background-color: hsla(180, 100%, 30%, 0.5);
	font: 34px;
}

header nav ul li a,
header .logo a {
	text-decoration: none;
}

header nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 24px;
	line-height: 24px;
	padding: 0, 10%, 0;
	border-radius: 5px;
	background-color: rgba(160, 214, 180, 0.9);
}
header nav ul li:hover {
	background-color: rgba(153, 102, 255, 0.6);
}
