body {
	margin: 0;
	padding: 0;

/*	
	&:before {
		background-image: url(../../images/unsplash.jpg);
		background-size: cover;background-position: center;
		background-repeat: no-repeat;
	}
	*/
}
header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: gray;
	color: orange;
	text-transform: uppercase;
	display: inline-block;
	height: 100px;
}

header ul {
	list-style: none;
}

header ul li {
	text-decoration: none;
	display: inline-block;
	float: right;
	padding-right: 12px;
	border: solid silver;
	margin-left: 12px;
}
header ul li:hover {
	opacity: 0.7;
}
header div {
	position: absolute;
	border: solid #808080;
	display: inline-block;
	text-align: center;
}

header ul li:nth-child(1) {
	margin-right: 100px;
}
