/* Landing page Styling*/ 

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	height: 100vh;
	background-color: #000;
	background-image: url(../images/dune-moon.jpg);
	background-size: cover;
	background-position: center;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}
a:hover {
	color: pink;
}
