/*
 * body {
	opacity: 0.6;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../background.jpg');
}
*/

body {
	background-color: rgba(120, 172, 179, 0.5);
	opacity: 0.7;
}

